[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Name=robotfindskitten
GenericName=robotfindskitten
Categories=Game;LogicGame;
Keywords=text;ncurses;terminal;console;game;puzzle;zen;simulation;robot;kitten;
Keywords[de]=text;ncurses;terminal;konsole;spiel;rätsel;zen;simulation;roboter;kätzchen;
Keywords[es]=texto;ncurses;terminal;consola;juego;puzle;zen;simulación;robot;gatito;
Exec=robotfindskitten
Icon=robotfindskitten
Comment=Zen Simulation of robot finding kitten
Comment[de]=Zen-Simulation, in der Roboter Kätzchen findet
Comment[es]=Simulación zen en la que robot encuentra a gatito
